# ignore GS folders
GS_ocl/Debug/
GS_ocl/Release/
GS_ocl/ipch/
GS_ocl/Grey\ Scott/Debug
GS_ocl/Grey\ Scott/Release

# ignore microFun folders
microFun_DX/Debug/
microFun_DX/Release/
microFun_DX/ipch/
microFun_DX/image_grabs/

#ignore sum_reduction folders
sum_reduction_ocl/Debug/
sum_reduction_ocl/ipch
sum_reduction_ocl/Release
sum_reduction_ocl/Grey\ Scott/Debug
sum_reduction_ocl/Grey\ Scott/Release

# ignore file types
*.opensdf
*.sdf
*.sln
*.suo
*.vcxpro*